* {
    box-sizing: border-box;
    font-family:sans-serif;
    background-color: pink;
    color: white;
  }

  h1 {
    font-size: 5rem;
    color: black;
    margin-bottom: 5rem;
  }

  #question {
    color: black;
  }

  body {
    padding:0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 80%;
    border-radius: 5px;
    padding: 10px;
  }

  .btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 0;
  }

  .btn {
    border: 1px solid;
    border-radius: 5px;
    outline: none;
  }

  .btn:hover {
    cursor: pointer;
    border-color: black;
    transform: scale(1.03);
  }

  .start-btn {
    font-size: 2.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.hide {
    display: none;
}